@model Assignment3_Torres_JoseDavid.Models.ContactModel

@{
    ViewData["Title"] = "Success";
}

<h1>Contact Form Success</h1>

<div>
    <h3>Thank you @Model.FirstName @Model.LastName</h3>
    <hr/>
    <p>A copy has been sent to @Model.Email</p>
</div>